main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    color: black;
    font-size: small;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: large;
    text-decoration: bold;
    border-bottom: black;
    margin-bottom: 10px;
}

form label {
    display: block;
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   /* width: 100%;*/
}

form input[type=text] {
    margin-bottom: 10px;
    font-size: 16px;
    width: 100px;
}
